[submodule "Projects/VC-Draft---Zentro"]
	path = Projects/VC-Draft---Zentro
	url = https://github.com/kbeccaria/VC-Draft---Zentro.git
[submodule "Projects/InDepthStudios"]
	path = Projects/InDepthStudios
	url = https://github.com/kbeccaria/InDepthStudios.git
